<!DOCTYPE html>
<html>
    <head>
        <title><%= page %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/header.css' />
        <link rel='stylesheet' href='/stylesheets/sign-up.css' />
        <link rel='stylesheet' href='/stylesheets/log-in.css' />
    </head>
    <body class="site-wrap">
        <header class="mk-registration-header">
            <a>
                <img class="mk-logo" src="/assets/images/fandango-logo.svg">
            </a>
            <a class="mk-account-mode">
                <% if (page === 'sign up') {%>
                SIGN IN
                <%} else if (page === 'log in') {%>
                CREATE AN ACCOUNT
                <% } %>
            </a>
        </header>
        <div>
            <form class="mk-account-wrap mk-account-font-color">
                <% if (page === 'sign up') {%>
                <% include ./sign-up-form.ejs %>
                <%} else if (page === 'log in') {%>
                <% include ./login-form.ejs %>
                <% } %>
            </form>
        </div>
    </body>
</html>
