
<p>FANDANGO<span class="mk-sign-up-title-emphasis">VIP</span></p>
<form>
    <label for="emailinput">Email Address</label>
    <input id="email" name="emailinput" type="email" placeholder="input your email address">
    <label for="passwordinput">Password</label>
    <input id="password" name="passwordinput" type="text" placeholder="input your password">
    <input id="sign-in-btn" type="submit" value="SIGN IN" class="mk-sign-up-submit">
</form>