
<h1>FANDANGO<span class="mk-sign-up-title-emphasis">VIP</span></h1>
<form>
  <div class="form-group">
    <label for="inputEmailAddr">Email address</label>
    <input type="email" class="form-control" id="inputEmailAddr" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">Please input valid email address.</small>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
