<div class="mk-top-info-wrapper">
    <div class="mk-top-info">
        <span class="mk-span"><a href="/login">Sign In</a></span>
        <span class="mk-span"><a href="/signup">Sign Up</a></span>
    </div>
</div>
<div class="mk-top-nav-wrapper">
    <nav class="mk-top-nav navbar navbar-expand-md ">
        <a>
            <img class="mk-logo navbar-brand" src="/assets/images/fandango-logo.svg">
        </a>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Movie" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link mk-nav-links">MOVIES</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link mk-nav-links">HALLS</a>
                </li>
            </ul>
        </div>
    </nav>
</div>