<!DOCTYPE html>
<html>
    <head>
        <% include ./meta-resources.ejs %>
        <link rel='stylesheet' href='/stylesheets/pg-movie-list.css' />
    </head>
    <body>
        <% include ./header.ejs %>
        
        <div class="container mt-4">
            <div class="row">
                <h2 class="mk-sub-title"><%=movie.movieTitle + " TIMES NEAR " + "95112"%></h2>
            </div>
            <% include ./movie-dt-subnav.ejs %>
            
        </div>
        <div class="container mt-4">
            <div class="row">
                <% include ./movie-dt-info.ejs %>
                <div class="col-8">
                    <% if(typeof(halls) === "undefined" || !halls.length > 0) { %>
                        <h3>NO LOCAL SCHEDULES FOR NOW : )</h3>
                    <% } else {%>
                        <ul>
                            <% for(let i=0; i < halls.length; i++) {%>
                                <% var hall = halls[i]; %>
                                <% var movieSchedule = hall.schedules; %>
                                <% var movieID = movie.movieId; %>
                                <li>
                                    <div class="mk-hall-header mt-4">
                                        <div class="mk-hall-name-wrapper">
                                            <h3>
                                                <a href="<%= PathDict.GET.HALL_DETAILS + "?id=" + hall.theaterId%>"><%= hall.theaterName%></a>
                                            </h3>
                                            <span class="mk-text-mute"><%= hall.street + ", " + hall.city.cityName + ", " + hall.city.state + ", " + hall.zipcode%></span>
                                        </div>
                                    </div>
                                    <div class="mk-hall-schedules-wrapper col-6">
                                        <div><span>Select a movie time to buy tickets</span></div>
                                        <div class="mk-hall-schedules-list">
                                            <ul>
                                                <% for(let k = 0; k < hallMovie.schedules.length; k++) {%>
                                                    <% include ./schedule-tag-link.ejs %>
                                                <% }%>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            <% } %>
                            
                        </ul>
                    <% }%>
                    
                </div>
            </div>
            
        </div>

        <% include ./lib-url.ejs %>
    </body>
</html>
