<!DOCTYPE html>
<html>
    <head>
        <% include ./meta-resources.ejs %>
        <link rel='stylesheet' href='/stylesheets/pg-movie-list.css' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <% include ./header.ejs %>
        
        <div class="container mt-4">
            <div class="row">
                <h2 class="mk-sub-title"><%=movie.movieTitle + " TIMES NEAR " + "95112"%></h2>
            </div>
            <% include ./movie-dt-subnav.ejs %>
            
        </div>
        <div class="container mt-4">
            <div class="row">
                <% include ./movie-dt-info.ejs %>
                <div class="col-8">
                    <ul>
                        <li>
                            <div class="mk-hall-header">
                                <div class="mk-hall-name-wrapper">
                                    <h3>
                                        <a href="#">CENTURY CINEMAS 16</a>
                                    </h3>
                                </div>
                                <div class="mk-hall-addr-wrapper">
                                    <span class="mk-text-mute">3000 El Camino Real, Palo Alto, CA 94306</span>
                                </div>
                            </div>
                            <div class="mk-hall-schedules-wrapper">
                                <div><span>Select a movie time to buy Standard Showtimes</span></div>
                                <div class="mk-hall-schedules-list">
                                    <ul>
                                        <li><span>1:00p</span></li>
                                        <li><span>1:30p</span></li>
                                        <li><span>1:30p</span></li>
                                        <li><span>1:30p</span></li>
                                        <li><span>1:30p</span></li>
                                        <li><span>1:30p</span></li>
                                        <li><span>1:30p</span></li>
                                        <li><span>1:30p</span></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>

        <% include ./lib-url.ejs %>
    </body>
</html>
