<div class="row">
    <ul class="mk-movie-dt-nav-wrapper">
        <li>
            <a href=<%= PathDict.GET.MOVIE_DETAILS + "?id=" + movie.movieId%>>OVERVIEW</a>
        </li>
        <li>
            <a href=<%= PathDict.GET.MOVIE_DETAILS_SCHEDULES + "?id=" + movie.movieId%>>MOVIE TIMES + TICKETS</a>
        </li>
        <li>
            <a href=<%= PathDict.GET.MOVIE_DETAILS_REVIEWS + "?id=" + movie.movieId%>>MOVIE REVIEWS</a>
        </li>
        <li>
            <a href=<%= PathDict.GET.MOVIE_DETAILS_POST_REVIEW + "?id=" + movie.movieId%>>POST REVIEW</a>
        </li>
    </ul>
</div>