<div class="row">
    <ul class="mk-movie-dt-nav-wrapper">
        <li>
            <a href="#">OVERVIEW</a>
        </li>
        <li>
            <a href="#">MOVIE TIMES + TICKETS</a>
        </li>
        <li>
            <a href="#">MOVIE REVIEWS</a>
        </li>
        <li>
            <a href="#">POST REVIEW</a>
        </li>
    </ul>
</div>