<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
</head>
    <body>
        <% include ./header.ejs %>
        <form   action="<%= PathDict.POST.ADD_HALL %>"
                method="post"
                class="mk-addhall-wrapper">
            <div>
                <span id="mk-add-movie-title"><%= hall_option %> Movie Hall</span>
            </div>
            <% if (hall_option === 'Edit') { %>

            <div class="form-group">
                <label >THEATRE ID</label>
                <input class="form-control form-control-sm input-sm col-sm-6"
                       type="text"
                        disabled
                />
            </div>
            <% } %>

            <div class="form-group">
                <label >THEATRE NAME</label>
                <input class="form-control form-control-sm input-sm col-sm-6"
                       type="text"
                       pattern="[a-z|A-Z|0-9|\s\.']*"
                       title="must contain only letter, digits, space or single quote"
                       placeholder="input theatre name"
                       name="theaterName"
                       <% if (hall_option === 'Add') { %>
                        required
                       <% } %>
                />
            </div>

            <div class="form-group">
                <label for="STREET">STREET</label>
                <input class="form-control form-control-sm input-sm col-sm-6"
                       type="text"
                       placeholder="input street address"
                       name="street"
                        <% if (hall_option === 'Add') { %>
                       required
                        <% } %>
                />
            </div>

            <div class="form-group">
                <label >CITY NAME</label>
                <input class="form-control form-control-sm input-sm col-sm-6"
                       type="text"
                       pattern="[a-z|A-Z|\s\.']*"
                       title="must not contain digits"
                       name="cityname"
                       placeholder="input city name"
                        <% if (hall_option === 'Add') { %>
                       required
                        <% } %>
                />
            </div>

            <div class="form-group">
                <label for="ZIP CODE">ZIP CODE</label>
                <input class="form-control form-control-sm input-sm col-sm-6"
                       type="text"
                       pattern="[0-9]{5}"
                       title="must contain exactly 5 digits zip code"
                       placeholder="xxxxx"
                       name="zipcode"
                        <% if (hall_option === 'Add') { %>
                       required
                        <% } %>
                />
            </div>

            <div class="form-group">
                <% if (hall_option === 'Add') { %>
                <% include ./add-button.ejs %>
                <% } else { %>
                <% include ./update-button.ejs %>
                <% } %>
            </div>
        </form>

        <% include ./lib-url.ejs %>
    </body>
</html>
