<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
</head>
<body>
<% include ./header.ejs %>

<form   <% if (schedule_option === 'Add') { %>
        action="<%= PathDict.POST.ADD_SCHEDULE%>"
        <% } else { %>
        action="<%= PathDict.POST.EDIT_SCHEDULE%>"
        <% } %>
        method="post" class="mk-addmovie-wrapper">
    <div>
        <span id="mk-add-movie-title"><%= schedule_option %> Movie Schedule</span>
    </div>
        <div class="form-group">
            <label for="SCHEDULE NAME">SCHEDULE ID</label>
            <input class="form-control form-control-sm input-sm col-sm-6"
                   placeholder="schedule ID"
                   type="text"
                   name="scheduleId"
                   pattern="[a-z|A-Z|0-9|\s]*"
                    <% if (schedule_option === 'Add') { %>
                   required
                    <% } %>
                    <% if (schedule_option === 'Edit') { %>
                   disabled
                    <% } %>
            />
        </div>

        <div class="form-group">
            <label for="MOVIE NAME">MOVIE NAME</label>
            <input class="form-control form-control-sm input-sm col-sm-6"
                   placeholder="input movie name"
                   type="text"
                   pattern="[a-z|A-Z|0-9|\s]*"
                   name="moviename"
                    <% if (schedule_option === 'Add') { %>
                   required
                    <% } %>
            />
        </div>

        <div class="form-group">
            <label for="THEATRE">THEATRE</label>
            <input class="form-control form-control-sm input-sm col-sm-6"
                   placeholder="input theatre name"
                   type="text"
                   pattern="[a-z|A-Z|0-9|\s]*"
                   name="theatrename"
                    <% if (schedule_option === 'Add') { %>
                   required
                    <% } %>
            />
        </div>

        <div class="form-group">
            <label>FORMAT</label>
            <select class="form-control form-control-sm input-sm col-sm-4" name="format">
                <option value="iMax">iMax</option>
                <option value="3D">3D</option>
                <option value="Digital">Digital</option>
            </select>
        </div>

        <div class="form-group">
            <label>SCHEDULE DATE</label>
            <input class="form-control form-control-sm input-sm col-sm-5" type="date"
                    <% if (schedule_option === 'Add') { %>
                   required
                    <% } %>
                   name="scheduleDate"
            />
        </div>

        <div class="form-group">
            <label>TIME SLOT</label>
            <button class="w3-button w3-blue w3-tiny" id="mk-addmovie-addslot">+</button>
            <div id="timeslot">
            <input class="form-control form-control-sm input-sm col-sm-4"
                   type="time"
                    <% if (schedule_option === 'Add') { %>
                   required
                    <% } %>
                   name="showtime"
            />
            </div>
        </div>
        <div class="form-group">
            <% if (schedule_option === 'Add') { %>
                <% include ./add-button.ejs %>
            <% } else { %>
                <% include ./update-button.ejs %>
            <% } %>
        </div>
</form>

<% include ./lib-url.ejs %>
<script src="/scripts/add-movie.js"></script>
</body>
</html>
