<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
    
</head>
<body>
<% include ./header.ejs %>

<form class="mk-addmovie-wrapper mk-movie-form-adjust">
    <div>
        <span id="mk-add-movie-title"><%= movie_option %> Movie</span>
    </div>
    <% if (movie_option === 'Edit') { %>
    <div class="form-group">
        <label >MOVIE ID</label>
        <input class="form-control form-control-sm input-sm col-sm-4"
               type="text"
               name="movieId"
               disabled
        />
    </div>
    <% } %>

    <div class="form-group">
        <label >TITLE</label>
        <input class="form-control form-control-sm input-sm col-sm-6"
               type="text"
               placeholder="input title"
               pattern="[a-z|A-Z|0-9|\s]*"
               title="must contain only letter, digit or space  "
               <% if (movie_option === 'Add') { %>
                required
               <% } %>
                name="movieTitle"
        />
    </div>

    <div class="form-group">
        <label for="LENGTH">DESCRIPTION</label>
        <textarea class="form-control form-control-sm input-sm"
               placeholder="input description"
                <% if (movie_option === 'Add') { %>
               required
                <% } %>
                name="movieDesc"
        >
        </textarea>
    </div>

    <div class="form-group card bg-dark text-white mk-moive-img-adjust">
        <img src=""
             alt="profile image"
             class="mk-profile-img"
             id="mk-movieImg-preview"/>
        <label class="mk-movie-label">
            <input type="file" id="mk-movieImg-upload"
                    <% if (movie_option === 'Add') { %>
                   required
                    <% } %>
            />
            Select Image
        </label>
    </div>

    <div class="form-group">
        <label>Cover Image URL</label>
        <input type="text"
               class="form-control form-control-sm input-sm"
               id="mk-movieImg-url"
               name="coverImageUrl"
               value=""
                <% if (movie_option === 'Add') { %>
               disabled
                <% } %>
        />
    </div>

    <div class="form-group">
        <label for="LENGTH">LENGTH</label>
        <input class="form-control form-control-sm input-sm col-sm-6"
               type="text"
               pattern="[0-9]+"
               title="must only contain digits"
               name="length"
               placeholder="input length in minutes"
                <% if (movie_option === 'Add') { %>
               required
                <% } %>
        />
    </div>

    <div class="form-group">
        <label>MPAA ID</label>
        <select class="form-control form-control-sm input-sm col-sm-4" name="mpaaId">
            <option value="1">G</option>
            <option value="2">PG</option>
            <option value="3">PG-13</option>
            <option value="4">R</option>
            <option value="5">NC-17</option>
        </select>
    </div>

    <div class="form-group">
        <label>RELEASE DATE</label>
        <input class="form-control form-control-sm input-sm col-sm-5" type="date" name="releaseDate"/>
    </div>

    <div class="form-group">
        <label for="TRAILER">TRAILER URL</label>
        <input class="form-control form-control-sm input-sm col-sm-6"
               type="url"
               name="trailerUrl"
               pattern="(https:\/\/youtu.be\/)"
               title="must have url prefix 'https://youtu.be/'"
               placeholder="input trailer url"
                <% if (movie_option === 'Add') { %>
               required
                <% } %>
        />
    </div>

    <div class="form-group">
        <label>STARS</label>
        <select class="form-control form-control-sm input-sm col-sm-2" name="starts">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>

    <div class="form-group">
        <a href=<%=PathDict.GET.MOVIE_LIST%>>
            <% if (movie_option === 'Add') { %>
                <% include ./add-button.ejs %>
            <% } else { %>
                <% include ./update-button.ejs %>
            <% } %>
        </a>
    </div>
</form>

<% include ./lib-url.ejs %>
<script src="/scripts/add-movie.js"></script>
</body>
</html>
