<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
</head>
    <body>
        <% include ./header.ejs %>
        <form class="mk-addhall-wrapper">
            <div>
                <span id="mk-add-movie-title"><%= hall_option %> Movie Hall</span>
            </div>

            <% hallFormFields.forEach(function(field) { %>
            <div class="form-group">
                <label for="<%= field %>"><%= field %></label>
                <input class="form-control form-control-sm input-sm col-sm-6"
                       type="text"
                       placeholder="input <%= field.toLowerCase() %>"
                       <% if (hall_option === 'Add') { %>
                        required
                       <% } %>
                />
            </div>
            <% }); %>

            <div class="form-group">
                <label for="CITY">CITY</label>
                <input class="form-control form-control-sm input-sm col-sm-6"
                       type="text"
                       pattern="^([^0-9]*)$"
                       title="must not contain digits"
                       placeholder="input city"
                        <% if (hall_option === 'Add') { %>
                       required
                        <% } %>
                />
            </div>

            <div class="form-group">
                <label for="ZIP CODE">ZIP CODE</label>
                <input class="form-control form-control-sm input-sm col-sm-6"
                       type="text"
                       pattern="[0-9]{5}"
                       title="must contain exactly 5 digits zip code"
                       placeholder="xxxxx"
                        <% if (hall_option === 'Add') { %>
                       required
                        <% } %>
                />
            </div>

            <div class="form-group">
                <% if (hall_option === 'Add') { %>
                <% include ./add-button.ejs %>
                <% } else { %>
                <% include ./update-button.ejs %>
                <% } %>
            </div>
        </form>

        <% include ./lib-url.ejs %>
    </body>
</html>
