<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/styles.css' />
        <link rel='stylesheet' href='/stylesheets/components.css' />
        <link rel='stylesheet' href='/stylesheets/top-nav.css' />
        <link rel='stylesheet' href='/stylesheets/pg-movie-list.css' />
    </head>
    <body>
        <% include ./header.ejs %>
        
        <div class="mk-genre-tags-wrapper container mt-4">
            <p>FILTER BY MOVIE GENRES</p>
            <div>
                <ul>
                    <li class="mk-genre-tags"><a href="#">ACTION</a></li>
                    <li class="mk-genre-tags"><a href="#">DRAMA</a></li>
                    <li class="mk-genre-tags"><a href="#">COMEDY</a></li>
                </ul>
            </div>
            
        </div>
        <div class="container mt-4">
            <h2 class="mk-sub-title">ACTION MOVIES</h2>
            <p class="mk-sub-title-desc">Find the biggest, fastest and most intense action-adventure movies to satisfy your craving for high-speed chases, epic stunts and full-blown battle sequences.</p>
            <div class="mk-movie-list-wrapper">
                <ul class="mk-movie-list">
                    <% for(let i = 0; i < movies.length; i++) { %>
                    <% let movie = movies[i]; %>
                    <li>
                        <a href="#">
                            <img class="mk-movie-thumb-img" src=<%=movie.coverImageUrl%> >
                        </a>
                        <div class="mk-movie-thumb-title-wrapper">
                            <a class="mk-movie-thumb-title" href="#"><%=movie.movieTitle%></a>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>

        <% include ./lib-url.ejs %>
    </body>
</html>
