<!DOCTYPE html>
<html>
    <head>
        <% include ./meta-resources.ejs %>
        <link rel='stylesheet' href='/stylesheets/pg-movie-list.css' />
    </head>
    <body>
        <% include ./header.ejs %>
        
        <div class="mk-genre-tags-wrapper container mt-4">
            <p>FILTER BY MOVIE GENRES</p>
            <div>
                <ul>
                    <li class="mk-genre-tags"><a href="#">ACTION</a></li>
                    <li class="mk-genre-tags"><a href="#">DRAMA</a></li>
                    <li class="mk-genre-tags"><a href="#">COMEDY</a></li>
                </ul>
            </div>
            
        </div>
        <div class="container mt-4">
            <h2 class="mk-sub-title">MOVIES</h2>
            <p class="mk-sub-title-desc">Find the biggest, fastest and most intense action-adventure movies to satisfy your craving for high-speed chases, epic stunts and full-blown battle sequences.</p>
            <% if(typeof(movies) === "undefined" || !movies.length > 0) {%>
                <h3>NO MOVIES FOR NOW : )</h3>
            <% } else { %>
                <div class="mk-movie-list-wrapper">
                    <ul class="mk-movie-list">
                        <% for(let i = 0; i < movies.length; i++) { %>
                        <% let movie = movies[i]; %>
                        <li>
                            <a href="<%=PathDict.GET.MOVIE_DETAILS + "?id=" + movie.movieId%>">
                                <img class="mk-movie-thumb-img" src=<%=movie.coverImageUrl%> >
                            </a>
                            <div class="mk-movie-thumb-title-wrapper">
                                <a class="mk-movie-thumb-title" href=<%=PathDict.GET.MOVIE_DETAILS + "?id=" + movie.movieId%>><%=movie.movieTitle%></a>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            <% }%>
            
        </div>

        <% include ./lib-url.ejs %>
    </body>
</html>
