<!DOCTYPE html>
<html>
    <head>
        <% include ./meta-resources.ejs %>
        <link rel='stylesheet' href='/stylesheets/pg-movie-list.css' />
    </head>
    <body>
        <% include ./header.ejs %>
        
        <div class="container mt-4">
            <div class="row">
                <h2 class="mk-sub-title"><%=movie.movieTitle%></h2>
            </div>
            <div class="mk-movie-analytics-wrapper">
                <p>
                    <span class="mk-span mk-text-mute">Movie Revenue:</span>
                    <span class="mk-span"><%= movieAnalytics.revenue%></span>
                    <span class="mk-span mk-text-mute">Tickets Sold:</span>
                    <span class="mk-span"><%= movieAnalytics.tickets%></span>
                    <span><a href="#" class="border-left pl-2">Edit Movie</a></span>
                </p>
            </div>
            <% include ./movie-dt-subnav.ejs %>
            
        </div>
        <div class="container mt-4">
            <div class="row">
                <% include ./movie-dt-info.ejs %>
                <div class="col-8">
                    <iframe class="mk-dt-trailer-container" src=<%=movie.trailerUrl%>>
                    </iframe>
                </div>
            </div>
            
        </div>

        <% include ./lib-url.ejs %>
    </body>
</html>
