<!DOCTYPE html>
<html>
    <head>
        <title><%= page %></title>
        <link rel='stylesheet' href='/stylesheets/styles.css' />
        <link rel='stylesheet' href='/stylesheets/top-nav.css' />
        <link rel='stylesheet' href='/stylesheets/pg-sign-up.css' />
        <link rel='stylesheet' href='/stylesheets/pg-login.css' />
    </head>
    <body class="site-wrap">
        <header class="mk-registration-header">
            <a>
                <img class="mk-logo" src="/assets/images/fandango-logo.svg">
            </a>
            <a class="mk-account-mode">
                <% if (page === 'SIGN_UP') {%>
                SIGN IN
                <%} else if (page === 'LOGIN') {%>
                CREATE AN ACCOUNT
                <% } %>
            </a>
        </header>
        <div>
            <form class="mk-account-wrap mk-account-font-color">
                <% if (page === 'SIGN_UP') {%>
                <% include ./form-sign-up.ejs %>
                <%} else if (page === 'LOGIN') {%>
                <% include ./form-login.ejs %>
                <% } %>
            </form>
        </div>
    </body>
</html>
