<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/styles.css' />
        <link rel='stylesheet' href='/stylesheets/components.css' />
        <link rel='stylesheet' href='/stylesheets/top-nav.css' />
        <link rel='stylesheet' href='/stylesheets/pg-sign-up.css' />
        <link rel='stylesheet' href='/stylesheets/pg-login.css' />
        <link rel='stylesheet' href='/stylesheets/components-lxr.css' />
    </head>
    <body>
        <% include ./header.ejs %>
        
        <div class="mk-account-wrap mk-account-font-color">
            <% if (page === 'SIGN_UP') { %>
            <% include ./form-sign-up.ejs %>
            <% } else if (page === 'LOGIN') { %>
            <% include ./form-login.ejs %>
            <% } else if (page === 'PROFILE') { %>
            <% include ./profile.ejs %>
            <% } %>
        </div>
        <% include ./lib-url.ejs %>
    </body>
</html>
