<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/styles.css' />
        <link rel='stylesheet' href='/stylesheets/components.css' />
        <link rel='stylesheet' href='/stylesheets/top-nav.css' />
        <link rel='stylesheet' href='/stylesheets/pg-sign-up.css' />
        <link rel='stylesheet' href='/stylesheets/pg-login.css' />
    </head>
    <body class="site-wrap">
        <% include ./header.ejs %>
        
        <div>
            <form class="mk-account-wrap mk-account-font-color">
                <% if (page === 'SIGN_UP') {%>
                <% include ./form-sign-up.ejs %>
                <%} else if (page === 'LOGIN') {%>
                <% include ./form-login.ejs %>
                <% } %>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </body>
</html>
