<!DOCTYPE html>
<html>
    <head>
        <% include ./meta-resources.ejs %>
        <link rel='stylesheet' href='/stylesheets/pg-sign-up.css' />
        <link rel='stylesheet' href='/stylesheets/pg-login.css' />
    </head>
    <body>
        <% include ./header.ejs %>

        <% include ./profile-info.ejs %>

        <% include ./lib-url.ejs %>
    </body>
</html>
