<!DOCTYPE html>
<html>
<head>
    <% include ./meta-resources.ejs %>
</head>
<body>
<% include ./header.ejs %>

<div class="mk-purchase-wrapper">
    <div>
        <strong><span id="mk-purchaselist-title">Purchase History</span></strong>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Theatre</th>
                    <th>Total Price</th>
                    <th>Number of Tickets</th>
                </tr>
            </thead>
            <tbody>
        <% records.forEach(function(record) { %>
            <tr class="info">
                <td><%= record.movie %></td>
                <td><%= record.theatre %></td>
                <td><%= record.totalPrice %></td>
                <td><%= record.numOfTickets %></td>
            </tr>
        <% });%>
            </tbody>
        </table>
    </div>
</div>

<% include ./lib-url.ejs %>
</body>
</html>
