<!DOCTYPE html>
<html>
    <head>
        <% include ./meta-resources.ejs %>
    </head>
    <body>
        <% include ./header.ejs %>
        <div class="mk-buyticket-wrapper container mt-4">
            <h2 class="mk-sub-title green">SUCCESS</h2>
            <div>
                <a href="<%= PathDict.GET.MOVIE_LIST%>">Back to movie list</a>
            </div>
            
        </div>

        <% include ./lib-url.ejs %>
        
    </body>
</html>
