<!DOCTYPE html>
<html>
    <head>
        <% include ./meta-resources.ejs %>
        <link rel='stylesheet' href='/stylesheets/pg-movie-list.css' />
        <link rel='stylesheet' href='/stylesheets/order-list.css' />
    </head>
    <body>
        <% include ./header.ejs %>
        
        <div class="container mt-4">
            <h2 class="mk-sub-title">MY ORDERS></h2>
            <% include ./order-list.ejs %>
        </div>

        <% include ./lib-url.ejs %>
    </body>
</html>
