<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/styles.css' />
        <link rel='stylesheet' href='/stylesheets/components.css' />
        <link rel='stylesheet' href='/stylesheets/top-nav.css' />
        <link rel='stylesheet' href='/stylesheets/pg-sign-up.css' />
        <link rel='stylesheet' href='/stylesheets/pg-login.css' />
        <link rel='stylesheet' href='/stylesheets/components-lxr.css' />
        <link rel='stylesheet' href='/stylesheets/styles-lxr.css' />
    </head>
    <body>
        <% include ./header.ejs %>

        <% include ./profile-info.ejs %>

        <% include ./lib-url.ejs %>
    </body>
</html>
