<form class="mk-profile-edit-form">
    <% if (role === '3') { %>
        <div class="form-group mk-form-adjust">
            <label>Role</label>
            <select class="form-control form-control-sm input-sm col-sm-6">
                <option value="0">GUEST</option>
                <option value="1">USER</option>
                <option value="2">HAD</option>
                <option value="3">SAD</option>
            </select>
        </div>
    <% } %>
    <div class="form-group mk-form-adjust">
        <label>Profile Image</label>
        <input type="file" accept="image/*" class="form-control form-control-sm"/>
        <input type="text" class="form-control form-control-sm" placeholder="Your file name"/>
    </div>
    <% items.forEach(function(item) { %>
        <div class="form-group">
            <label><%= item %></label>
            <input type="text"
                   class="form-control form-control-sm input-sm" placeholder="Edit"/>
        </div>
    <% }); %>
    <div class="form-group mk-theme-nested-border">
        <div>
        <label>Credit Card Details</label>
        </div>
        <label>Card Number</label>
        <input type="text" class="form-control form-control-sm input-sm" placeholder="Edit"/>
        <label>Expire Date</label>
        <input type="date" class="form-control form-control-sm input-sm" placeholder="Edit"/>
        <label>Security Code</label>
        <input type="text" class="form-control form-control-sm input-sm" placeholder="Edit"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">Change</button>
        <a href=<% PathDict.GET.PROFILE%>>
            <button type="button" class="btn btn-primary btn-sm">Cancel</button>
        </a>
    </div>
</form>