
<p> JOIN FANDANGO<span class="mk-sign-up-title-emphasis">VIP</span></p>
<form>
    <label for="firstnameinput">First Name</label>
    <input id="firstname" name="firstnameinput" type="text" placeholder="input your first name">
    <label for="emailinput">Email Address</label>
    <input id="email" name="emailinput" type="email" placeholder="input your email address">
    <label for="passwordinput">Password</label>
    <input id="password" name="passwordinput" type="text" placeholder="input your password">
    <input id="submit-btn" type="submit" value="REGISTER" class="mk-sign-up-submit">
</form>