.mk-top-err
{
    float: left;
    margin-left: 1rem; 
    color: #ce0690;
}

.mk-top-info-wrapper
{
	background-color: black;
    height: 2rem;
    padding: 0.5rem 0;

    
    font-size: 0.8rem;
    color: #CCC;
}

.mk-top-info
{
	float: right;
	margin-right: 1rem; 
}

.mk-top-info a
{
    color: #CCC;
}
.mk-top-info a:hover
{
    color: white;
    text-decoration: none;	
}
.mk-header-search-options
{
    cursor: pointer;
}

.mk-tags
{
    display: inline-block;
    padding: 0 0.5rem;
    background-color: #333333;
    font-family: "proxima-nova",Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin-top: 0.3rem;
}

.mk-sub-title
{
    font-size: 3rem;
    text-transform: uppercase;
}

.mk-span
{
	margin: 0 0.2rem;
}

.mk-text-mute
{
    color: #929292;
}
.mk-star-filled
{
    color: orange;
}
