/* Please put your component styles here. Will be merged periodically */

.list-group li
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    background-color: #232323;
    padding: 1rem;
}

.list-group form
{
    margin-left: 1rem;
}


.mk-profile-a {
    width: 12rem;
    color: #3E8EDE;
}

#mk-profile-func
{
    float: right;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
}

.mk-profile-btn
{
    margin-right: 1rem;
}

.mk-profile-del-btn
{
    margin-right: 6px;
}

.mk-profile-wrapper
{
    margin-top: 4rem;
    margin-left: 25%;
    margin-right: 25%;
    border: 1.5px solid #F15500;
}

.mk-profile-content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.mk-buyticket-wrapper
{
    margin-top: 4rem;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 1rem;
    background-color: #4c5d60;
}

.mk-buyticket-wrapper > div
{
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.mk-buyticket-item
{
    display: flex;
    flex-direction: column;
}
.mk-buyticket-total
{
    border-bottom: 2px solid #FF7900;
}

.mk-buyticket-btn
{
    height: 3rem;
    padding-top: 5px;
    padding-right: 1rem;
}

.mk-buyticket-btn button
{
    float: right;
}

#mk-buyticket-title
{
    font-size: 1.5rem;
}

.mk-purchase-wrapper
{
    margin-top: 4rem;
    background-color: #28a745;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 1rem;
}

.mk-purchase-wrapper > div
{
    padding-top: 1rem;
}

#mk-purchaselist-title
{
    font-size: 1rem;
    margin-left: 0.7rem;
}

.mk-addmovie-wrapper
{
    margin-top: 4rem;
    margin-left: 35%;
    margin-right: 35%;
}

.mk-movie-img
{
    width: 200px;
    height: 100px;
}

#mk-add-movie-title
{
    font-size: 1.5rem;
    color: #3E8EDE;
}

.mk-movie-label
{
    height: 20px;
    width: 200px;
    color: black;
    text-align: center;
}
.mk-moive-img-adjust
{
    width: 200px;
}

#mk-schedule-priceUnit
{
    display: inline;
}

.mk-addhall-wrapper
{
    margin-top: 4rem;
    margin-left: 40%;
    margin-right: 30%;
}

.mk-addhall-adjust
{
    margin-top: 5px;
}
