.mk-movie-list li
{
	display: inline-block;
	margin-right: 1.5rem;
	margin-bottom: 1.5rem;
}
.mk-genre-tags
{
	display: inline-block;
	padding: 0 0.5rem;
	background-color: #333333;
	font-family: "proxima-nova",Helvetica,Arial,sans-serif;
	font-weight: 700;
}
.mk-movie-thumb-img
{
	height: 250px;
	width: 168px;
}
.mk-movie-thumb-title-wrapper
{
	width: 168px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.mk-movie-dt-nav-wrapper li
{
	display: inline-block;
	margin-right: 1rem;
}

.mk-sub-title
{
	font-size: 3rem;
	text-transform: uppercase;
}
.mk-movie-dt-section-title
{
	font-size: 2rem;
	text-transform: uppercase;
}
.mk-movie-dt-wrapper
{
	padding: 0;
}
.mk-movie-dt-cover-wrapper
{
	float: left;
}
.mk-movie-dt-cover
{
	height: 298.4px;
	width: 200px;
}
.mk-movie-dt-desc-wrapper
{
	clear: both;
	padding: 1rem 0 0 0;
}
.mk-movie-dt-info-wrapper
{
	padding: 1rem;
	background-color: #333333;
	height: 298.4px;
	margin-left: 200px;
	text-align: center;
}
.mk-dt-trailer-container
{
	width: 744px;
	height: 420px
}
.mk-hall-schedules-list ul li
{
	display: inline-block;
	padding: 0.6rem 1.5rem;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
	border-radius: 0.2rem;
	background-color: #f15500;
}

.mk-movie-review-list li
{
	padding: 1rem;
    background-color: #333333;
    margin-bottom: 1px;
}
.mk-dt-postrv-btn-wrapper
{
	text-align: right;
}