.mk-movie-list li
{
	display: inline-block;
	margin-right: 1.5rem;
	margin-bottom: 1.5rem;
}
.mk-genre-tags
{
	display: inline-block;
	padding: 0 0.5rem;
	background-color: #333333;
	font-family: "proxima-nova",Helvetica,Arial,sans-serif;
	font-weight: 700;
}
.mk-movie-thumb-img
{
	height: 250px;
	width: 168px;
}
.mk-movie-thumb-title-wrapper
{
	width: 168px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.mk-movie-dt-nav-wrapper li
{
	display: inline-block;
	margin-right: 1rem;
}

.mk-sub-title
{
	text-transform: uppercase;
}
.mk-movie-dt-wrapper
{
	padding: 0;
}
.mk-movie-dt-cover-wrapper
{
	float: left;
}
.mk-movie-dt-cover
{
	height: 250px;
	width: 168px;
}
.mk-movie-dt-desc-wrapper
{
	clear: both;
	padding: 1rem 0 0 0;
}
.mk-movie-dt-info-wrapper
{
	float: left;
	padding: 1rem;
	background-color: #333333;
	height: 250px;
}
.mk-dt-trailer-container
{
	width: 620px;
	height: 350px
}
