/* Please put your general styles here. Will be merged periodically */
.mk-profile-img
{
    height: 100px;
    width: 200px;
}

.mk-literal-margin
{
    margin-left: 1rem;
    margin-top: 1rem;
}

.mk-form-adjust
{
    width: 164px;
}

.mk-theme-nested-border
{
    border: 1px solid #F15500;
    padding: 1rem;
}

.mk-profile-label
{
    height: 20px;
    width: 200px;
    color: black;
    text-align: center;
}

#mk-image-upload
{
    display: none;
}
