.mk-top-nav-wrapper
{
    background-color: #232323;
    border-bottom: 2px solid #F15500;
    width: 100%;
    
}
.mk-top-nav {
    height: 66px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.mk-logo {
    width: 222px;
}

.mk-nav-links 
{
    color: #CCC;
}
.mk-nav-links:hover
{
    color: #FFF;
}

.mk-account-wrap {
    margin-top: 50px;
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mk-account-wrap > input{
    border-radius: 5px;
    margin: 2px;
}

.mk-account-wrap > label{
    margin: 2px;
}

.mk-account-wrap > p {
    margin: 2px;
    padding-bottom: 20px;
}

.mk-account-font-color {
    color: white;
}